
# ============ General App Configuration ============
NODE_ENV=develop
PORT=3003
APP_NAME=LALALA API GATEWAY
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
CORS_ORIGINS=http://localhost:3000,https://example1.com,https://example2.com
API_TIMEOUT=60000
APP_ID=your-app-id
DEFAULT_USER_ROLE="your-default-role-id"


# ============ RabbitMQ ============
RABBITMQ_URL=amqps://username:password@your-rabbitmq-host.com/vhost
RABBITMQ_PORT=5672

# ============ Directus Configuration ============
DIRECTUS_HOST="https://your-directus-host.com"
DIRECTUS_TOKEN="your-directus-token"
JWT_SECRET="your-jwt-secret"


# ============ Database Configuration ============
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://username:password@your-db-host:port/dbname?sslmode=verify-full"


# ============ Elasticsearch ============
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=your-elastic-password
ELASTIC_NODE=https://your-elastic-node.com

# ============ REDIS ============
REDIS_URL=redis://username:password@your-redis-host:port
REDIS_SERVICE_WORKER=redis://username:password@your-redis-worker-host:port


# ============ Logging & Monitoring ============
LOG_LEVEL=info                       # Log level (info, warn, error, debug)
SENTRY_DSN=your-sentry-dsn           # Sentry for error monitoring


# ============ Miscellaneous ============
TIMEZONE=UTC                         # Default timezone
CURRENCY=USD                         # Default currency for transactions
LOCALE=en-US                         # Default locale


# ============ Rate Limiting & DDoS Protection ============
RATE_LIMITER_WINDOW_MS=60000         # Rate limit window in milliseconds
RATE_LIMITER_MAX_REQUESTS=100        # Maximum requests per window per IP




# ============ Google Secret ============
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CLIENT_ID="your-google-client-id"


# ============ ABLY ============
ABLY_KEY="your-ably-key"


# ============ Temporal ============
TEMPORAL_NAMESPACE="default"
TEMPORAL_ADDRESS=your-temporal-address:port
# TEMPORAL_ADDRESS="localhost:7233"
TEMPORAL_TASK_QUEUE="my-task-queue"
TEMPORAL_TLS_ADDRESS="your-tls-address:port"
TEMPORAL_ENABLE_TLS="false"
RETRY_INTERVAL="1"


NOVU_API_KEY="your-novu-api-key"
NOVU_APP_ID="your-novu-app-id"
NOVU_ENV_ID="your-novu-env-id"
NOVU_ONBOARD_APP_WORKFLOW="your-onboard-workflow-id"
NOVU_EMAIL_WORKFLOW="your-email-workflow-id"
